.table-cell {
  border-right: 1px solid #5BBAFF;
  border-bottom: 2px solid #5BBAFF;
}

.room-title {
  color: #006CE4;
  text-decoration: underline;
  font-weight: bold;
}

.room-info {
  display: flex;
  align-items: center;
  font-size: 12px; /* Added font size */
}

.room-info-text {
  color: #A30052; /* Moved from inline style */
  font-size: 12px; /* Added font size */
}

.room-details {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 1rem;
}

.room-feature {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 1rem;
  font-size: 12px; /* Added font size */
}

.person-icons {
  display: flex;
  margin-top: -200px; /* Adjust as needed */
}

.price-strike {
  text-decoration: line-through;  
  color: #A30052;
  margin-top: -200px;


  font-size: 12px; 
}

.price-bold {
  font-weight: bold;
  font-size: 1.2em;
}

.taxes-fees {
  color: #999;
  font-size: 12px; 
}

.late-escape-deal {
  color: white;
  background-color: green;
  font-size: 9px; 
  margin-bottom:4px;
  height:20px;
  display:block
}

.amenities-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: -200px; /* Adjust as needed */
}

.amenity-item {
  display: flex;
  align-items: center;
  color: #008234; 
  font-size: 12px; 
 

}

.payment-info {

  font-size: 12px; 
}

.select-box {
  display: flex;

  gap: 2;
  border: 1px solid black; 
  margin-top: -200px;
}

.reserve-box {
  margin-top: -200px; 
  font-size: 12px; 
}
.break1{
  border-top: 1px solid #5BBAFF;
  margin-top: 180px;
  display: flex;
}
.person{
  margin-top: 10px;
}


.break2{
  border-top: 1px solid #5BBAFF;
  margin-top: 100px;

}
